body {
    text-align: center;
    background-color: black;
    color: white;
}
form {
    border: 1px solid white;
    width: 40%;
    margin: auto;
    height: max-content;
    text-align: left;
    padding: 20px 30px;
}
input {
    width: 70%;
    height: 25px;
}
h3 {
    font-size: 25px;
}